<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 默认首页 -->
	<mvc:view-controller path="/" view-name="index" />

	<!-- jsp视图解析器 -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="2" />
	</bean>

	<!-- 自动扫描且只扫描@Controller -->
	<context:component-scan base-package="cn.sunline.suncard" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>
	
	<!-- 配置静态资源 -->
	<mvc:resources location="/resources/" mapping="/resources/**" />

	<!-- 采用注解方式配置MVC -->
	<mvc:annotation-driven
		content-negotiation-manager="contentNegotiationManager">
		<mvc:argument-resolvers>
			<bean class="org.springframework.data.web.PageableHandlerMethodArgumentResolver" />
		</mvc:argument-resolvers>
	</mvc:annotation-driven>


	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="favorPathExtension" value="true" />
		<property name="favorParameter" value="true" />
		<property name="defaultContentType" value="text/html;charset=UTF-8" />	<!-- 防止中文乱码 -->
		<property name="mediaTypes">
			<value>
				json=application/json
				xml=application/xml
			</value>
		</property>
	</bean>

	<!-- 自定义拦截器 -->
	<!-- <mvc:interceptors>
		使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求
		<mvc:interceptor>
			使用exclude-mapping 前面必须有 mvc:mapping
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/" />
			<mvc:exclude-mapping path="/index" />
			<mvc:exclude-mapping path="/resources/**" />

			<bean class="com.blackcat.frame.web.interceptor.SessionInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/*" />
			定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的
			<bean class="com.blackcat.frame.web.interceptor.AuthInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/login" />
			定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的
			<bean class="com.blackcat.frame.web.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors> -->
</beans>
	
	